
$color-main-1: #CCD5F6
$color-main-2: #DDE0E4
$color-main-3: #F7CCCC
$color-active: #121680
$color-main-5: #656565
$color-main-6: #DF184F
$color-main-7: #1E25D4
$color-main-8: #001769
$color-main-9: #ABABAB
$color-main-10: #AAB9F0
$color-main-11: #11D300
$text-color: #E7E7E7













