
$color-main-1: #CCD5F6
$color-main-2: #DDE0E4
$color-main-3: #F7CCCC
$color-active: #121680
$color-checkbox-text: #656565
$warning: #E11D48
$color-hover: #1E25D4
$color-main-8: #001769
$color-main-9: #ABABAB
$color-main-10: #AAB9F0
$color-main-11: #12542B
$color-warning: #C39507
$color-warning-back: #FBF0CE
$color-main-12: #D0E0D6
$text-color: #E7E7E7
$btn-disabled: #E5E7EB
$warning-active: #F43F5E
$disabled-color: #9CA3AF
$input-border-color: #D1D5DB
$btn-allowed: #16A34A

$btn-allowed-active: #22C55E

$color-warning: #C39507
$color-warning-back: #FBF0CE

$border-danger-color: #DF184F

$danger-alert-bc: #E9CFD6
$success-alert-br: #B1CCBB
$success-alert-bc: #D0E0D6
$warning-alert-br: #FBF0CE
$warning-alert-bc: #FBF0CE
$info-alert-br: #B6B9FF
$info-alert-bc: #E5E7FF


$font-size-12: 12px
$font-size-14: 14px
$font-size-16: 16px
$font-size-20: 20px
$font-size-24: 24px
$font-size-32: 32px




