@import "styles/variables"
@import "styles/mixins"



.default
  display: flex
  align-items: center
  padding: 0 20px 0 20px
  height: 36px
  background: $color-active
  border-radius: 4px
  color: $text-color
  outline: none
  border: none
  margin: 5px 0 5px 0
  &:active
    @include btn-active
  &:hover
    background-color: $color-hover

.disabled
  display: flex
  align-items: center
  padding: 0 20px 0 20px
  height: 36px
  border-radius: 4px
  outline: none
  margin: 5px 0 5px 0
  border: none
  background-color: $btn-disabled
  color: grey
  &:hover
    cursor: not-allowed
.warning
  display: flex
  align-items: center
  padding: 0 20px 0 20px
  height: 36px
  border-radius: 4px
  outline: none
  border: none
  margin: 5px 0 5px 0
  background-color: $warning
  color: $text-color
  cursor: pointer
  &:active
    @include btn-active
    background-color: $warning-active


.allowed
  display: flex
  align-items: center
  padding: 0 20px 0 20px
  height: 36px
  border-radius: 4px
  outline: none
  border: none
  margin: 5px 0 5px 0
  background-color: $btn-allowed
  color: $text-color
  cursor: pointer
  &:active
    @include btn-active
    background-color: $btn-allowed-active